/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

// body {
//   text-align: center;
//   max-width: 500px;
//   margin: auto;
// }

table {
  margin: 20px auto;
  text-align: left;
}

td {
  padding: 0 5px;
}

// ul {
//   list-style: none;
//   margin-left: -40px;
// }


